<template>
	<div class="course-teach">
		<h2>Cours enseignés</h2>
		<div class="content">
			<div class="course">
				<p class="title">Matières</p>
				<ul>
					<li v-for="course in courses" :key="course">
						{{ course }}
					</li>
				</ul>
			</div>
			<div class="level">
				<p class="title">Niveaux</p>
				<ul>
					<li v-for="level in levels" :key="level">{{ level }}</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'course-teach',
	data: () => {
		return {
			courses: ['Mathématiques', 'Français'],
			levels: ['6ème', '5ème'],
		}
	},
}
</script>

<style lang="scss">
.content {
	display: flex;

	> div {
		margin-top: 20px;

		.title {
			font-size: 20px;
			text-align: left;
			width: 100%;
			border-bottom: solid 1px $mainColor;
			margin-bottom: 10px;
		}

		ul {
			padding-left: 20px;
			margin-right: 50px;

			li {
				text-align: left;
			}
		}
	}
}
</style>
