<template>
	<div class="profil-student">
		<div class="profil-infos">
			<p class="label">Nom</p>
			<p class="info">{{ user.last_name }}</p>
			<p class="label">Prénom</p>
			<p class="info">{{ user.first_name }}</p>
			<p class="label">Nom d'utilisateur</p>
			<p class="info">{{ user.user_name }}</p>
			<p class="label">Adresse mail</p>
			<p class="info">{{ user.mail }}</p>
			<p class="label">Mot de passe</p>
			<p class="info">*************</p>
			<p class="label">Niveau BAC</p>
			<p class="info">{{ user.bac }}</p>
			<p class="label">Parcourt actuel</p>
			<p class="info">{{ user.course }}</p>
			<p class="label">Note</p>
			<div class="rating">{{ user.rating }}</div>
		</div>

		<CourseTeachView></CourseTeachView>
	</div>
</template>

<script>
import CourseTeachView from '@/components/student/CourseTeachView.vue'

export default {
	name: 'profil-student',
	components: {
		CourseTeachView,
	},
	props: {
		user: Object,
	},
}
</script>

<style lang="scss">
.profil-student {
	.profil-infos {
		display: flex;
		flex-wrap: wrap;

		.label {
			width: 50%;
			font-size: 20px;
			font-weight: 600;
			color: #3c3c3c;
			text-align: left;
		}
		.info {
			width: 50%;
			font-size: 17px;
			font-weight: 400;
			color: #3c3c3c;
			text-align: right;
		}
		.rating {
			width: 50%;
			font-size: 22px;
			font-weight: 400;
			color: #3c3c3c;
			text-align: right;
		}
	}
}
</style>
