<template>
	<div id="student-form">
		<h1>Inscription étudiant</h1>
		<div class="form-lign">
			<input
				type="text"
				name="lastname"
				placeholder="Nom"
				class="left"
				v-model="input.student.lastname"
			/>
			<input
				type="text"
				name="firstname"
				placeholder="Prénom"
				class="right"
				v-model="input.student.firstname"
			/>
		</div>
		<div class="form-lign">
			<input
				type="text"
				name="mail"
				placeholder="Adresse mail"
				class="large-input"
				v-model="input.student.email"
			/>
		</div>
		<div class="form-lign underMail">
			<select v-model="input.student.level_student" class="left">
				<option disabled value="">Niveau d'étude</option>
				<option
					v-for="level in levelsStudent"
					v-bind:value="level.id"
					v-bind:key="level.label"
				>
					{{ level.label }}
				</option>
			</select>
			<input
				type="text"
				name="class"
				placeholder="Parcours actuel"
				class="right"
				v-model="input.student.schoolName"
			/>
		</div>
		<div class="form-lign">
			<input
				type="text"
				name="username"
				placeholder="Nom d'utilisateur"
				class="left"
				v-model="input.student.login"
			/>
			<input
				type="text"
				name="password"
				placeholder="Mot de passe"
				class="right"
				v-model="input.student.password"
			/>
		</div>
		<div class="form-lign">
			<input
				type="text"
				name="identity_card"
				placeholder="Carte d'identité"
				class="large-input"
			/>
		</div>
		<div class="formTitle">Cours enseignés</div>
		<div class="form-lign">
			<p class="left label" id="subjects">
				Matières
			</p>
			<p class="right label" id="levels">
				Niveau max
			</p>
		</div>
		<div class="subjects">
			<div
				id="checkbox-label"
				v-for="subject in schoolSubjects"
				v-bind:value="subject.value"
				v-bind:key="subject.text"
			>
				<input
					type="checkbox"
					:id="subject.id"
					:value="subject.id"
					v-model="input.schoolSubjects"
				/>
				<label :for="subject.id">{{ subject.label }}</label>
			</div>
		</div>
		<div class="levels">
			<div
				id="checkbox-label"
				v-for="level in levelsPupil"
				v-bind:value="level.value"
				v-bind:key="level.text"
			>
				<input
					type="radio"
					:id="level.id"
					:value="level.id"
					v-model="input.level_max"
				/>
				<label :for="level.id">{{ level.label }}</label>
			</div>
			<div class="form-lign">
				<button
					type="button"
					id="inscriptionButton"
					v-on:click="verifForm()"
				>
					S'inscrire
				</button>
			</div>
		</div>
		<div class="end"></div>
		<div class="errorMsg" v-if="errorMsg != ''">
			{{ errorMsg }}
		</div>
	</div>
</template>

<script>
export default {
	name: 'StudentForm',
	mounted() {
		this.getLevelsPupil()
		this.getSchoolSubjects()
	},
	methods: {
		getLevelsPupil() {
			const baseURI = 'https://api-11mai.herokuapp.com/level'
			this.$http
				.get(baseURI)
				.then((result) => {
					this.levelsPupil = result.data
				})
				.catch(function (error) {
					console.log(error)
				})
		},
		getSchoolSubjects() {
			const baseURI = 'https://api-11mai.herokuapp.com/schoolSubject'
			this.$http
				.get(baseURI)
				.then((result) => {
					this.schoolSubjects = result.data
				})
				.catch(function (error) {
					console.log(error)
				})
		},
		postUser() {
			const baseURI = 'https://api-11mai.herokuapp.com/user'
			//we create student user in db
			this.$http
				.post(baseURI, this.input.student)
				.then((result) => {
					console.log(result)
					const baseURI = 'https://api-11mai.herokuapp.com/teaching'
					//we create teaching in db with schoolSubjects
					this.input.schoolSubjects.forEach((element) => {
						let teaching = {
							student_id: result.data.id,
							SchoolSubject_id: element,
							Level_id: this.input.level_max,
						}
						this.$http
							.post(baseURI, teaching)
							.then((result) => {
								console.log(result)
							})
							.catch(function (error) {
								console.log(error)
								this.errorMsg =
									"Erreur lors de l'inscription en base de donnée"
							})
						this.errorMsg = ''
						this.$router.replace({ name: 'Connexion' })
					})
				})
				.catch(function (error) {
					console.log(error)
					this.errorMsg =
						"Erreur lors de l'inscription en base de donnée"
				})
		},
		verifForm() {
			const test = this.input.student
			console.log(test)
			if (
				this.input.student.login != '' &&
				this.input.student.password != '' &&
				this.input.student.firstname != '' &&
				this.input.student.lastname != '' &&
				this.input.student.level_student != '' &&
				this.input.student.email != '' &&
				this.input.student.schoolName != ''
			) {
				this.postUser()
			} else {
				this.errorMsg =
					'Toutes les informations du formulaire doivent être saisies'
			}
		},
	},
	data() {
		return {
			input: {
				student: {
					lastname: '',
					firstname: '',
					email: '',
					phoneNumber: '',
					login: '',
					password: '',
					level_student: '',
					schoolName: '',
					category: 'student',
				},
				schoolSubjects: [],
				level_max: '',
			},
			levelsStudent: [
				{
					id: 0,
					label: 'Bac',
				},
				{
					id: 1,
					label: 'Bac+1',
				},
				{
					id: 2,
					label: 'Bac+2',
				},
				{
					id: 3,
					label: 'Bac+3',
				},
				{
					id: 4,
					label: 'Bac+4',
				},
				{
					id: 5,
					label: 'Bac+5',
				},
			],
			levelsPupil: [],
			errorMsg: '',
		}
	},
}
</script>

<style scoped>
h1 {
	margin-top: 50px;
}
.underMail {
	margin-top: -25px;
}

#subjects {
	margin-left: 170px;
}
#levels {
	margin-right: 180px;
}
.subjects {
	float: left;
	margin-top: 25px;
	margin-left: -75px;
}
.levels {
	float: right;
	margin-top: 25px;
	margin-right: -75px;
}
.end {
	margin-top: 380px;
}
.subjects input {
	width: 15px;
	float: left;
	margin-top: -2px;
}
.levels input {
	width: 15px;
	float: left;
	margin-top: -2px;
}
label {
	margin-left: 10px;
	text-align: right;
	font-size: 12px;
}
#checkbox-label {
	margin-top: 10px;
}
#inscriptionButton {
	margin-left: -330px;
	margin-top: -50px;
}
.errorMsg {
	margin-top: 270px;
}
</style>
