<template>
	<div id="collaborator-form">
		<h1>Inscription d'un parent</h1>
		<div class="form-lign">
			<input
				type="text"
				name="collab_lastname"
				placeholder="Nom"
				class="left"
				v-model="input.collab.lastname"
			/>
			<input
				type="text"
				name="collab_firstname"
				placeholder="Prénom"
				class="right"
				v-model="input.collab.firstname"
			/>
		</div>
		<div class="form-lign">
			<input
				type="text"
				name="collab_mail"
				placeholder="Adresse mail"
				class="left"
				v-model="input.collab.email"
			/>
			<input
				type="text"
				name="collab_phone"
				placeholder="Télphone"
				class="right"
				v-model="input.collab.phoneNumber"
			/>
		</div>
		<div class="form-lign">
			<input
				type="text"
				name="collab_username"
				placeholder="Nom d'utilisateur"
				class="left"
				v-model="input.collab.login"
			/>
			<input
				type="text"
				name="collab_password"
				placeholder="Mot de passe"
				class="right"
				v-model="input.collab.password"
			/>
		</div>
		<div class="form-lign">
			<input
				type="text"
				name="enterpriseCode"
				placeholder="Code entreprise"
			/>
		</div>
		<div class="formTitle">Enfant</div>
		<div class="form-lign">
			<input
				type="text"
				name="child_lastname"
				placeholder="Nom"
				class="left"
				v-model="input.pupil.lastname"
			/>
			<input
				type="text"
				name="child_firstname"
				placeholder="Prénom"
				class="right"
				v-model="input.pupil.firstname"
			/>
		</div>
		<div class="form-lign">
			<input
				type="text"
				name="child_username"
				placeholder="Nom d'utilisateur"
				class="left"
				v-model="input.pupil.login"
			/>
			<input
				type="text"
				name="child_password"
				placeholder="Mot de passe	"
				class="right"
				v-model="input.pupil.password"
			/>
		</div>
		<div class="form-lign">
			<select v-model="input.pupil.level_pupil">
				<option disabled value="">Classe</option>
				<option
					v-for="level in this.levels"
					v-bind:value="level.id"
					v-bind:key="level.label"
				>
					{{ level.label }}
				</option>
			</select>
		</div>
		<div class="errorMsg" v-if="errorMsg != ''">
			{{ errorMsg }}
		</div>
		<div class="form-lign">
			<button type="button" v-on:click="verifForm()">S'inscrire</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CollaboratorForm',
	data() {
		return {
			input: {
				collab: {
					lastname: '',
					firstname: '',
					email: '',
					phoneNumber: '',
					login: '',
					password: '',
					category: 'parent',
				},
				pupil: {
					lastname: '',
					firstname: '',
					login: '',
					password: '',
					level_pupil: '',
					category: 'eleve',
					parent_id: '',
				},
			},
			levels: [],
			errorMsg: '',
		}
	},
	mounted() {
		this.getLevels()
	},
	methods: {
		getLevels() {
			const baseURI = 'https://api-11mai.herokuapp.com/level'
			this.$http
				.get(baseURI)
				.then((result) => {
					this.levels = result.data
				})
				.catch(function (error) {
					console.log(error)
				})
		},
		postUsers() {
			const baseURI = 'https://api-11mai.herokuapp.com/user'
			//we first create parent user in db
			this.$http
				.post(baseURI, this.input.collab)
				.then((result) => {
					console.log(result)
					this.errorMsg = ''
					this.$router.replace({ name: 'Connexion' })
					this.input.pupil.parent_id = result.data.id
					//then we create pupil user in db
					this.$http
						.post(baseURI, this.input.pupil)
						.then((result) => {
							console.log(result)
							this.errorMsg = ''
							this.$router.replace({ name: 'Connexion' })
						})
						.catch(function (error) {
							console.log(error)
							this.errorMsg =
								"Erreur lors de l'inscription en base de donnée"
						})
				})
				.catch(function (error) {
					console.log(error)
					this.errorMsg =
						"Erreur lors de l'inscription en base de donnée"
				})
		},
		verifForm() {
			if (
				this.input.collab.lastname != '' &&
				this.input.collab.firstname != '' &&
				this.input.collab.email != '' &&
				this.input.collab.phoneNumber != '' &&
				this.input.collab.login != '' &&
				this.input.collab.password != '' &&
				this.input.pupil.lastname != '' &&
				this.input.pupil.firstname != '' &&
				this.input.pupil.login != '' &&
				this.input.pupil.password != '' &&
				this.input.pupil.level_pupil != ''
			) {
				this.postUsers()
			} else {
				this.errorMsg =
					'Toutes les informations du formulaire doivent être saisies'
			}
		},
	},
}
</script>

<style scoped>
h1 {
	margin-top: 50px;
}
</style>
