<template>
	<div class="home-employe">
		<h2>Enfants</h2>
		<div class="childs">
			<div class="child" v-for="child in user.childs" :key="child.id">
				<p class="name">{{ child.first_name }} {{ child.last_name }}</p>
				<p class="level">{{ child.level }}</p>
				<p class="courses">{{ displayCourses(child.courses) }}</p>
				<router-link to="/profil">ACCEDER AU PROFIL</router-link>
			</div>
		</div>

		<h2>Séances programmées</h2>
		<div class="meeting">
			<table>
				<tr>
					<td>Enfants</td>
					<td>Horaires</td>
					<td>Lien</td>
				</tr>
				<tr>
					<td>Aymeric DUBRENET-CARTON</td>
					<td>Lundi 12 mai de 12h à 13h</td>
					<td><a href="#">https://whatsapp.com/bfhdvbu</a></td>
				</tr>
			</table>
		</div>

		<h2>Demandes effectuées</h2>
		<div class="request">
			<table>
				<tr>
					<td>Etudiant</td>
					<td>Enfants</td>
					<td>Matières - Horaires</td>
					<td>Etat</td>
				</tr>
				<tr v-if="loading">
					Chargement
				</tr>
				<tr v-for="request in requests" :key="request.id">
					<td>{{ request.requested_name }}</td>
					<td>{{ request.pupil_name }}</td>
					<td>
						{{ request.school_subject_name }}
					</td>
					<td>
						<a href="#">{{ request.state }}</a>
					</td>
				</tr>
			</table>
		</div>

		<h2>Créer une demande</h2>
		<div class="request-make">
			<div class="form-element form-child">
				<p class="label">Enfant</p>
				<select v-model="requestSend.pupil_id">
					<option
						v-for="child in childs"
						:key="child.id"
						:value="child.id"
						>{{ child.firstname }} {{ child.lastname }}</option
					>
				</select>
			</div>
			<div class="form-element form-course">
				<p class="label">Matière</p>
				<select v-model="requestSend.school_subject_id">
					<option
						v-for="subject in schoolSubject"
						:key="subject.id"
						:value="subject.id"
						>{{ subject.label }}</option
					>
				</select>
			</div>
			<div class="form-student">
				<div
					v-for="student in students"
					:key="student.id"
					class="student-radio"
				>
					<input
						type="radio"
						:id="student.id"
						name="student"
						:value="student.id"
						v-model="requestSend.requested_id"
					/>
					<label :for="student.id"
						>{{ student.firstname }} {{ student.lastname }}</label
					>
				</div>
			</div>
			<button type="button" class="btn-submit" @click="sendRequest">
				Envoyer
			</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'home-employe',
	props: {
		user: Object,
		requests: [],
	},
	data() {
		return {
			loading: true,
			errored: false,
			schoolSubject: [],
			childs: [],
			students: [],
			requestSend: {
				requester_id: '',
				requested_id: '',
				pupil_id: '',
				school_subject_id: '',
				state: 'En attente de validation',
				startdate: '',
				enddate: '',
			},
		}
	},
	mounted() {
		this.getRequest()
		this.getChilds()
		this.getSchoolSubjects()
		this.getStudents()
		setTimeout(this.getNow, 1000)
	},
	methods: {
		displayCourses(courses) {
			return courses.join(',')
		},
		sendRequest() {
			const baseURI = '/request'
			this.requestSend.requester_id = this.user.id
			console.log(this.requestSend)
			this.$http
				.post(baseURI, this.requestSend)
				.then((res) => {
					console.log(res)
				})
				.catch(function (error) {
					console.log(error)
					this.errorMsg =
						"Erreur lors de l'insertion d'une demande en base de donnée"
				})
		},
		getRequest() {
			const baseURI = '/request'
			this.$http.get(baseURI).then((result) => {
				this.requests = result.data
				for (
					let compteur = 0;
					compteur < this.requests.length;
					compteur++
				) {
					this.$http
						.get('/user/' + this.requests[compteur].requested_id)
						.then((res) => {
							this.requests[compteur].requested_name =
								res.data[0].firstname +
								' ' +
								res.data[0].lastname
							this.$http
								.get('user/' + this.requests[compteur].pupil_id)
								.then((response) => {
									this.requests[compteur].pupil_name =
										response.data[0].firstname +
										' ' +
										response.data[0].lastname
									this.$http
										.get(
											'schoolSubject/' +
												this.requests[compteur]
													.school_subject_id
										)
										.then((responseSubject) => {
											this.requests[
												compteur
											].school_subject_name =
												responseSubject.data[0].label
										})
										.catch((error) => {
											console.log(error)
											this.errored = true
										})
										.finally(() => (this.loading = false))
								})
						})
				}
			})
		},
		getChilds() {
			const baseURI = '/user'
			this.$http
				.get(baseURI + '/87417a3a-4bca-4ff1-abb5-56ff261feb32')
				.then((res) => {
					this.childs = res.data
				})
			// const baseURI = '/userByParent'
			// this.$http
			// 	.get(baseURI, {
			// 		parent_id: 'ca41c2bd-e411-492a-a4ca-cbb74092ba7a',
			// 	})
			// 	.then((res) => {
			// 		console.log(res.data)
			// 	})
		},
		getSchoolSubjects() {
			const baseURI = '/schoolSubject'
			this.$http.get(baseURI).then((res) => {
				this.schoolSubject = res.data
			})
		},
		getStudents() {
			const baseURI = '/user'
			this.$http
				.get(baseURI + '/884c1d6b-7e9d-4ec3-a00e-aa84b1249591')
				.then((res) => {
					this.students = res.data
				})
		},
		getNow: function () {
			const today = new Date()
			const date =
				today.getFullYear() +
				'-' +
				(today.getMonth() + 1) +
				'-' +
				today.getDate()
			const time =
				today.getHours() +
				':' +
				today.getMinutes() +
				':' +
				today.getSeconds()
			const timeEnd =
				today.getHours() +
				1 +
				':' +
				today.getMinutes() +
				':' +
				today.getSeconds()
			const dateTime = date + ' ' + time
			const dateEnd = date + ' ' + timeEnd
			this.requestSend.startdate = dateTime
			this.requestSend.enddate = dateEnd
		},
	},
}
</script>

<style lang="scss">
.home-employe {
	.childs {
		margin-top: 20px;

		.child {
			display: flex;

			p {
				margin-right: 50px;
			}
		}
	}

	.meeting {
		table {
			margin-top: 20px;
			width: 100%;
			tr {
				display: flex;
				justify-content: space-between;

				&:nth-child(1) {
					td {
						font-weight: 700;
						margin-bottom: 10px;
					}
				}

				td {
					width: 33%;
					text-align: left;
				}
			}
		}
	}

	.request {
		table {
			margin-top: 20px;
			width: 100%;
			tr {
				display: flex;
				justify-content: space-between;

				&:nth-child(1) {
					td {
						font-weight: 700;
						margin-bottom: 10px;
					}
				}

				td {
					width: 25%;
					text-align: left;
				}
			}
		}
	}

	.request-make {
		display: flex;
		align-items: flex-start;
		margin-top: 20px;

		.form-element {
			display: flex;
			margin-right: 50px;

			.label {
				margin-right: 15px;
			}
		}

		.form-student {
			margin-right: 50px;
			.student-radio {
				display: flex;
			}
		}
	}
}
</style>
