<template>
	<div class="profil-employe">
		<div class="profil-infos">
			<p class="label">Nom</p>
			<p class="info">{{ user.last_name }}</p>
			<p class="label">Prénom</p>
			<p class="info">{{ user.first_name }}</p>
			<p class="label">Nom d'utilisateur</p>
			<p class="info">{{ user.user_name }}</p>
			<p class="label">Adresse mail</p>
			<p class="info">{{ user.mail }}</p>
			<p class="label">Mot de passe</p>
			<p class="info">*************</p>
		</div>

		<div class="profil-childs">
			<h2>Enfants</h2>
			<div
				class="profil-infos profil-child-info"
				v-for="child in user.childs"
				:key="child"
			>
				<p class="label">Nom</p>
				<p class="info">{{ child.last_name }}</p>
				<p class="label">Prénom</p>
				<p class="info">{{ child.first_name }}</p>
				<p class="label">Nom d'utilisateur</p>
				<p class="info">{{ child.user_name }}</p>
				<p class="label">Mot de passe</p>
				<p class="info">*************</p>
				<p class="label">Classe</p>
				<p class="info">{{ child.level }}</p>
				<p class="label">Matières</p>
				<p class="info">{{ displayCourses(child.courses) }}</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'profil-employe',
	components: {},
	props: {
		user: Object,
	},
	mounted() {
		this.getChilds()
	},
	data() {
		return {
			childs: [],
		}
	},
	methods: {
		displayCourses(courses) {
			return courses.join(',')
		},
		getChilds() {
			const baseURI = '/userByParent'
			this.$http
				.get(baseURI + '/ca41c2bd-e411-492a-a4ca-cbb74092ba7a')
				.then((result) => {
					this.childs = result.data
					console.log(this.childs)
				})
		},
	},
}
</script>

<style lang="scss">
.profil-employe {
	.profil-infos {
		display: flex;
		flex-wrap: wrap;

		.label {
			width: 50%;
			font-size: 20px;
			font-weight: 600;
			color: #3c3c3c;
			text-align: left;
		}
		.info {
			width: 50%;
			font-size: 17px;
			font-weight: 400;
			color: #3c3c3c;
			text-align: right;
		}
		.rating {
			width: 50%;
			font-size: 22px;
			font-weight: 400;
			color: #3c3c3c;
			text-align: right;
		}
	}

	.profil-child-info {
		margin-top: 20px;
	}
}
</style>
