<template>
	<div class="form">
		<h1>11 mai</h1>
		<div class="form-lign">
			<span>Nom d'utilisateur</span>
			<input type="text" name="username" v-model="input.username" />
		</div>
		<div class="form-lign">
			<span>Mot de passe</span>
			<input type="password" name="password" v-model="input.password" />
		</div>
		<div class="form-lign">
			<button type="button" v-on:click="login()">Connexion</button>
		</div>
		<div class="form-lign" id="createAccount">
			Pas encore de compte ?
			<router-link to="/creationCompte" replace
				>Créer un compte</router-link
			>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Login',
	data() {
		return {
			input: {
				username: '',
				password: '',
			},
		}
	},
	methods: {
		login() {
			if (this.input.username != '' && this.input.password != '') {
				const baseURI =
					'https://api-11mai.herokuapp.com/userByLoginPassword/' +
					this.input.username +
					'/' +
					this.input.password
				this.$http
					.get(baseURI)
					.then((result) => {
						console.log(result)
						if (result.data.length != 0) {
							this.$emit('authenticated', true)
							this.$router.replace({ name: 'Home' })
						} else {
							console.log(
								'The username and / or password is incorrect'
							)
						}
					})
					.catch(function (error) {
						console.log(error)
						this.errorMsg =
							"Erreur lors de l'inscription en base de donnée"
					})
			} else {
				console.log('A username and password must be present')
			}
		},
	},
}
</script>

<style scoped>
#createAccount {
	font-size: 10px;
	margin-top: -25px;
}
.form {
	width: 600px;
}
select,
input {
	width: 150px;
}
.form-lign span {
	float: left;
	margin-left: 125px;
}

.form-lign input {
	float: right;
	margin-right: 100px;
}
</style>
