<template>
	<div id="createAccount" class="container">
		<div id="nav">
			<router-link to="/" replace>Connexion</router-link>
		</div>
		<div class="form">
			<div class="form-lign" id="selectAccountType">
				<span>Vous êtes</span>
				<select v-model="input.accountType.selected">
					<option disabled value="">Type de compte</option>
					<option
						v-for="option in input.accountType.options"
						v-bind:value="option.value"
						v-bind:key="option.text"
					>
						{{ option.text }}
					</option>
				</select>
			</div>
			<OrganizationForm
				v-if="input.accountType.selected == 'organization'"
			></OrganizationForm>
			<CollaboratorForm
				v-else-if="input.accountType.selected == 'parent'"
			></CollaboratorForm>
			<StudentForm
				v-else-if="input.accountType.selected == 'student'"
			></StudentForm>
			<ChildForm
				v-else-if="input.accountType.selected == 'child'"
			></ChildForm>
		</div>
	</div>
</template>

<script>
import OrganizationForm from '@/components/organization/OrganizationForm.vue'
import CollaboratorForm from '@/components/collaborator/CollaboratorForm.vue'
import StudentForm from '@/components/student/StudentForm.vue'

export default {
	name: 'CreateAccount',
	components: { OrganizationForm, CollaboratorForm, StudentForm},
	data() {
		return {
			input: {
				accountType: {
					selected: '',
					options: [
						{ text: 'Une organisation', value: 'organization' },
						{ text: 'Un parent', value: 'parent' },
						{ text: 'Un étudiant', value: 'student' }
					],
				},
				enterprise: {
					name: '',
					code: '',
				},
			},
		}
	},
}
</script>

<style scoped>
#createAccount {
	margin-top: -78px;
}
.form {
	width: 800px;
}
h1 {
	margin-top: -50px;
}
.form-lign span {
	float: left;
	margin-left: 200px;
	margin-top: 3px;
}

.form-lign select {
	float: right;
	margin-right: 200px;
}

#selectAccountType {
	margin-bottom: 20px;
}

</style>
