<template>
	<div id="secure">
		<router-link :to="{ name: 'Profil', params: { user: userEmploye } }"
			>Voir mon profil</router-link
		>
		<HomeEmploye
			:user="userEmploye"
			v-if="userEmploye.user_type == 'employe'"
		></HomeEmploye>
	</div>
</template>

<script>
import HomeEmploye from '@/components/employe/Home.vue'

export default {
	name: 'Home',
	components: {
		HomeEmploye,
	},
	data() {
		return {
			userEmploye: {
				id: 3,
				first_name: 'Grégory',
				last_name: 'Doucet',
				user_name: 'gdoucet',
				mail: 'doucetgregory@outlook.fr',
				password: '',
				bac: 'BAC +4',
				course: 'Master Développement Informatique',
				rating: 5,
				childs: [
					{
						id: 4,
						first_name: 'Aloïs',
						last_name: 'Hias',
						user_name: 'ahias',
						password: '',
						level: '6ème',
						courses: ['Anglais', 'Français'],
					},
				],
				user_type: 'employe',
			},
			test: [],
			studentTest: [],
			employeTest: [],
		}
	},
	mounted() {
		this.getUsers()
		this.getStudentTest()
		this.getEmployeTest()
		// this.user = this.employeTest
	},
	methods: {
		getUsers() {
			const baseURI = '/user'
			this.$http.get(baseURI).then((result) => {
				this.test = result.data
			})
		},
		getEmployeTest() {
			const baseURI = '/user'
			this.$http
				.get(baseURI + '/ca41c2bd-e411-492a-a4ca-cbb74092ba7a')
				.then((result) => {
					this.employeTest = result.data
				})
		},
		getStudentTest() {
			const baseURI = '/user'
			this.$http
				.get(baseURI + '/884c1d6b-7e9d-4ec3-a00e-aa84b1249591')
				.then((result) => {
					this.studentTest = result.data
				})
		},
		testFunc() {
			console.log(this.employeTest)
		},
	},
}
</script>

<style scoped>
#secure {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 20px;
	margin-top: 10px;
}
</style>
