<template>
	<div class="container">
		<div class="profil">
			<h1>{{ user.first_name }} {{ user.last_name }}</h1>
			<ProfilStudent
				v-if="user.user_type == 'student'"
				:user="user"
			></ProfilStudent>
			<ProfilEmploye
				v-if="user.user_type == 'employe'"
				:user="user"
			></ProfilEmploye>
		</div>
	</div>
</template>

<script>
import ProfilStudent from '@/components/student/Profil.vue'
import ProfilEmploye from '@/components/employe/Profil.vue'

export default {
	name: 'profil-student',
	components: {
		ProfilStudent,
		ProfilEmploye,
	},
	props: {
		user: Object,
	},
}
</script>

<style lang="scss"></style>
