<template>
	<div id="student-form">
		<h1>Inscription organisation</h1>
		<div class="form-lign">
			<input
				type="text"
				name="enterprise_name"
				placeholder="Nom de l'entreprise"
				class="left"
				v-model="input.name"
			/>

			<input
				type="text"
				name="enterprise_code"
				placeholder="Code de l'entreprise"
				class="right"
				v-model="input.code"
			/>
		</div>
		<div class="form-lign">
			<input
				type="text"
				name="enterprise_username"
				placeholder="Nom d'utilisateur"
				class="left"
				v-model="input.username"
			/>
			<input
				type="password"
				name="enterprise_password"
				placeholder="Mot de passe "
				class="right"
				v-model="input.password"
			/>
		</div>
		<div class="errorMsg" v-if="errorMsg != ''">
			{{ errorMsg }}
		</div>
		<div class="form-lign">
			<button type="button" v-on:click="verifForm()">S'inscrire</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'OrganizationForm',
	data() {
		return {
			input: {
				name: '',
				code: '',
				username: '',
				password: '',
			},
			errorMsg: '',
		}
	},
	methods: {
		postOrganization() {
			const baseURI = 'https://api-11mai.herokuapp.com/enterprise'
			const newEnterprise = {
				name: this.input.name,
				code: this.input.code,
			}
			//we first create enterprise in db
			this.$http
				.post(baseURI, newEnterprise)
				.then((result) => {
					console.log(result)
					this.errorMsg = ''
					this.$router.replace({ name: 'Connexion' })
					/*
					const newUser = {
						username: this.input.username,
						login: this.input.password,
						enterprise_id: result.data.id,
					}
					//then we create user for that enterprise

					this.$http
						.post(baseURI, newUser)
						.then((result) => {
							console.log(result)
							this.errorMsg = ''
							this.$router.replace({ name: 'Connexion' })
						})
						.catch(function (error) {
							console.log(error)
							this.errorMsg =
								"Erreur lors de l'inscription en base de donnée"
						})*/
				})
				.catch(function (error) {
					console.log(error)
					this.errorMsg =
						"Erreur lors de l'inscription en base de donnée"
				})
		},
		verifForm() {
			if (
				this.input.name != '' &&
				this.input.code != '' &&
				this.input.username != '' &&
				this.input.password != ''
			) {
				this.postOrganization()
			} else {
				this.errorMsg =
					'Toutes les informations du formulaire doivent être saisies'
			}
		},
	},
}
</script>

<style scoped>
h1 {
	margin-top: 50px;
}
</style>
