<template>
	<div id="app">
		<div id="nav">
			<router-link
				v-if="authenticated"
				to="/"
				v-on:click.native="logout()"
				replace
				>Déconnexion</router-link
			>
		</div>
		<div class="container">
			<router-view @authenticated="setAuthenticated" />
		</div>
	</div>
</template>

<script>
export default {
	name: 'App',
	data() {
		return {
			authenticated: false,
			mockAccount: {
				username: 'enki',
				password: 'michel',
			},
		}
	},
	mounted() {
		if (!this.authenticated) {
			this.$router.replace({ name: 'Connexion' })
		}
	},
	methods: {
		setAuthenticated(status) {
			this.authenticated = status
		},
		logout() {
			this.authenticated = false
		},
	},
}
</script>
