html {
	font-family: $quicksand, 'Source Sans Pro', -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	letter-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
	box-sizing: border-box;
	color: $mainColor;

	*,
	*:before,
	*:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	h2 {
		border-bottom: solid 2px $mainColor;
		text-align: left;
		margin-top: 50px;
	}
	a {
		text-decoration: none;
		color: $secondaryColor;
		cursor: pointer;
	}

	.container {
		width: 1300px;
		margin: 0 auto;
		padding: 0;
	}

	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
	}
	#nav {
		padding: 30px;
		a {
			font-weight: bold;
			color: #2c3e50;

			&.router-link-exact-active {
				color: #42b983;
			}
		}
	}
	body {
		background-color: #f0f0f0;
	}
	h1 {
		padding: 0;
		margin-top: 25px;
		margin-bottom: 5px;
		text-transform: uppercase;
		font-size:25px;
		color: red;
	}
	.formTitle {
		padding: 0;
		margin-top: 25px;
		margin-bottom: 5px;
		font-size:25px;
		margin-left:-265px;
		border-bottom: solid 2px $mainColor;
		width: 400px;
		margin-left:145px;
		text-align:left;
	}

	.form-lign {
		padding: 20px;
	}

	.form {
		border: 1px solid #cccccc;
		background-color: #ffffff;
		margin: auto;
		border-radius: 10px 5px 10px 5px;
	}
	.form-lign .left {
		float: left;
		margin-left: 140px;
		margin-top:auto;
		margin-bottom: auto;
	}

	.form-lign .right {
		float: right;
		margin-right: 140px;
		margin-top:auto;
		margin-bottom: auto;
	}
	button {
		width: 120px;
		height: 25px;
		margin-top:20px;
		float: bottom;
	}
	select,
	input {
		width: 200px;
		height: 25px;
	}
	input.large-input{
		width: 478px;
	}
	.label {
		font-size: 20px;
		font-weight: 600;
		color: #3c3c3c;
	}
	.formTitle {
		width: 500px;
		margin-left: 145px;
	}
	.errorMsg {
		position: relative;
		margin-left: 150px;
		margin-top: 50px;
		background-color:  #ffb3b3		;
		height: 20px;
		width: 500px;
		border-radius: 5px 5px 5px 5px;
	}
}

