/* ===== COULEURS ===== */
$dark: #000;
$darkLight: #3d3d3d;
$darkLightPlus: #5e5e5e;
$grey: #bebebe;
$greyLight: #efefef;
$greyLightPlus: #fbfbfb;
$white: #fff;
$orange: #ff8000;

$mainColor: $darkLightPlus;
$secondaryColor: $orange;

/* ===== POLICES ===== */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$quicksand: 'Quicksand', sans-serif;

/* ===== ANIMATIONS ===== */
$transition: all 0.3s;
